*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-top: 50px;
    text-align: center;
    color: #333;
}
p{
    margin-top: 10px;
    text-align: center;
    color: #666;
}

em{
    color: #007BFF;
    position: relative;
    right: 160px
}